@inherits LayoutComponentBase
<h1>.NET Conf Heros</h1>
<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/heroes">Heroes</a>
</nav>

<MessageBar>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</MessageBar>
