/* DashboardComponent's private CSS styles */
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
/* HeroSearch private styles */
.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
}

    .search-result li:hover {
        background-color: #607D8B;
    }

    .search-result li a {
        color: #888;
        display: block;
        text-decoration: none;
    }

        .search-result li a:hover {
            color: white;
        }

        .search-result li a:active {
            color: white;
        }

#search-box {
    width: 200px;
    height: 20px;
}


ul.search-result {
    margin-top: 0;
    padding-left: 0;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

a {
    text-decoration: none;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

h4 {
    position: relative;
}

.grid {
    margin: 0;
}

.col-1-4 {
    width: 25%;
}

.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}

    .module:hover {
        background-color: #EEE;
        cursor: pointer;
        color: #607d8b;
    }

.grid-pad {
    padding: 10px 0;
}

    .grid-pad > [class*='col-']:last-of-type {
        padding-right: 20px;
    }

@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
}

@media (max-width: 1024px) {
    .grid {
        margin: 0;
    }

    .module {
        min-width: 60px;
    }
}
/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

    .heroes li {
        position: relative;
        cursor: pointer;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        /*height: 1.6em;*/
        border-radius: 4px;
    }

        .heroes li:hover {
            color: #607D8B;
            background-color: #DDD;
            left: .1em;
        }

    .heroes a {
        color: #888;
        text-decoration: none;
        position: relative;
        display: block;
        width: 250px;
    }

        .heroes a:hover {
            color: #607D8B;
        }

    .heroes .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #607D8B;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 1.8em;
        min-width: 16px;
        text-align: right;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }

button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

    button:hover {
        background-color: #cfd8dc;
    }

    button.delete {
        position: relative;
        left: 194px;
        top: -32px;
        background-color: gray !important;
        color: white;
    }

/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

a {
    cursor: pointer;
    cursor: hand;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

    button:hover {
        background-color: #cfd8dc;
    }

    button:disabled {
        background-color: #eee;
        color: #aaa;
        cursor: auto;
    }

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

    nav a:visited, a:link {
        color: #607D8B;
    }

    nav a:hover {
        color: #039be5;
        background-color: #CFD8DC;
    }

    nav a.active {
        color: #039be5;
    }

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
